
p {
  color: pink;
  font-family: Georgia;
}
ul {
  font-size: 11pt;
   display: inline-block;
}
ol {
 font-width: 20px;
  font-height: 20px;
}
h1 {
 padding-top: 80px;
  margin-bottom: 80px;
}
header {
  font-size: 12pt;
  color: white;
}
body {
  font-family: Georgia;
  color: white
}
footer {
  background-size: cover;
  text-align: center;
}
