
p {
  color: Lightpink;
  font-family: "Georgia", cursive;
}
ul {
  font-size: 11px;
   width: 80px;
}
ol {
 background-color: #FFFF00;
   position: fixed;
}
h1 {
  color: #fff;
  position: fixed;
}
header {
  font-size: 12pt;
  display: inline-block;
}
body {
  margin: 0;
  padding: 20px 0;
}
footer {
  text-align: center;
  position: relative;
}
